li {
  list-style: none;
}

/* Sub Image */
.sub_visual {
  display: block;
  height: 124px;
  background: url(../images/s01_back.jpg) 0 0 no-repeat;
}

/* Left Navigation Bar */
.container {
  display: flex;
  flex-direction: row;
}

.lnb {
  width: 300px;
}

.empty_space {
  width: 230px;
}

.h2_label {
  font-family: "nanumgothic";
  width: 240px;
  height: 115px;
  text-align: left;
  padding-left: 14px;
  font-weight: 700;
  line-height: 115px;
  font-size: 30px;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  background: url(../images/ln_about.jpg) 0 0 no-repeat;
  margin: 0;
}

.lnb_ul {
  width: 240px;
  padding: 0;
  margin: 0;
}

.lnb_ul > li.current > a {
  display: block;
  padding: 20px 10px 20px 20px;
  font-size: 15px;
  color: #333;
  background: url(../images/ln_bg.png) #f7f7f7 no-repeat 95% center;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  font-weight: 300;
  text-decoration: none;
}

/* feedback */
.feedback {
  display: block;
  margin-bottom: 70px;
  padding-top: 15px;
  overflow: hidden;
}

.feedback > .sub_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.feedback > .label {
  color: #222222;
  margin-bottom: 20px;
  display: inline-block;
}

.feedback > .process {
  margin-top: 15px;
  display: inline-block;
  overflow: hidden;
}

.feedback > .sub_area > .process > .span {
  display: inline-block;
  font-size: 15px;
  padding-right: 5px;
  color: #666;
}

.feedback > .process > .arrow {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  margin-top: -10px;
}

.feedback > .sub_area > .process > .path {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

.clear {
  clear: both;
}

.map {
  width: 700px;
  height: 600px;
}
